<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML 5 Boilerplate</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
      
	<a href="./accordian/01-accordion.html">ACCORDION</a>
		<a href="./carosuel/02-carosuel.html">CAROSUEL</a>
			<a href="./tables/03-tables.html">TABLES</a>
				<a href="./Pagination//04-pagination.html">PAGINATION</a>
					<a href="./hero/05-hero.html">HERO</a>
  </body>
</html>